@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #010101;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-nav-link{
  position: relative;
}

.bottom-nav-link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3c50e0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "big big small-1"
  "big big small-1"
  "big big small-2"
  "big big small-2";
  max-width: 100vw;
  margin: 0;
  padding: 20px 96px;
  gap: 20px;
  width: 100%;

}


.big, .small-1, .small-2 {
  background: #fff;
  border-radius: 10px;
  padding: 20px 40px;
}

.big{
  grid-area: big;
}

.small-1 {
  grid-area: small-1;
}

.small-2 {
  grid-area: small-2;
}

.arrivals-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 20px;
}

.banner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "wide wide wide wide"
  "narrow-1 narrow-1 narrow-2 narrow-2";
  max-width: 100vw;
  margin: 0;
  gap: 30px;
  width: 100%;
}

.wide {
  grid-area: wide;
}

.narrow-1 {
  grid-area: narrow-1;
  margin: 0;
}

.narrow-2 {
  grid-area: narrow-2;
}


.home-section-header {
  @apply text-2xl font-semibold text-[#1C274C]
}